.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  .img {
    width: 140px;
    height: 140px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .amount {
    margin-top: 72px;
    color: #a7cd45;
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: SonnetSansDisplay-Regular, sans-serif;
    font-size: 126px;
    font-style: normal;
    font-weight: 400;
    line-height: 126px;
  }

  .merchant {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .merchantName {
      margin-left: 8px;
    }
  }
}

.realImg {
  width: 118px;
  height: 118px;
  animation: transformImg 630ms linear,
    transformImg2 270ms 630ms cubic-bezier(0.34, 0.43, 0.05, 1.5);
}

@keyframes transformImg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes transformImg2 {
  0% {
    transform: scale(1.16);
  }

  100% {
    transform: scale(1);
  }
}

.canvas {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lottie {
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
